<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Registration</h2>

<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your Username"><br>
    <input type="text" name="first_name" placeholder="Enter your first name"><br>
    <input type="text" name="last_name" placeholder="Enter your Lastname"><br>
    <input type="email" name="email" placeholder="Enter your Email"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="password" name="password1" placeholder="Enter your Confirm password"><br>
    <input type="submit">


</form>

{% for i in messages %}
<p style="color:red;">{{i}}</p>
{% endfor %}

</body>
</html>